@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #6b21a8;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: var(--primary-color);
}

.container{
    display: flex;
    flex-direction: column;
    width: 59vw;
    margin: 4rem auto 7rem;
    text-align: center;
}
.description{
    margin: 1rem auto;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
input{
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem auto;
    width: 35%;
}
label{
    font-weight: bolder;
}
#btn-check{
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 10%;
}

.change-table {
    width: 80%;
    text-align: justify;
    border-collapse: collapse;
    margin: 1rem auto;
}
.change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 600;
}
th, td {
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
    text-align: left;
}